:root {
  margin: 0;
  padding: 0;

  /*Couleurs principale*/
  --main-bg-color: #5352ee;
  --main-border-color: #040404;
  --main-text-color: #fffffe;
  --cellule-bg-color: #5252ee7e;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.header {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text-color);
}

.header i {
    font-size: 1.5em;
    margin-right: 10px;
}

.menu-container {
  display: flex;
  flex-direction: column; /* Nouvelle ligne : changer la direction en colonne */
  background-color: var(--main-bg-color);
  padding: 10px;
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.nav-menu {
  display: flex;
  flex-direction: column; /* Nouvelle ligne : changer la direction en colonne */
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-bottom: 10px; /* Nouvelle ligne : espace entre les onglets */
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    z-index: 10;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
    top: 50px;
  }

  .nav-menu a {
    margin: 0; /* Nouvelle ligne : enlever la marge pour les onglets */
  }
}

#sensorForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: 2%;
}

.params-form {
  width: 47%;
  margin-bottom: 10px;
}

.custom-button {
  width: 100%;
  background-color: var(--main-bg-color);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.custom-select input,
.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--main-border-color);
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  padding-left: 10px;
  height: 25px;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select::before {
  content: '\25BC';
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--main-bg-color);
  pointer-events: none;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.custom-select-number {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border-radius: 15px;
  border: 1px solid var(--main-border-color);
  font-size: 0.8em;
  margin-bottom: 10px;
  padding: 5px;
}

.custom-select-number input {
  width: 50px;
}

.custom-input-text {
  margin-bottom: 10px;
  width: 300px;
  border-radius: 15px;
  border: solid 1px var(--main-border-color);
  padding: 5px;
}

.custom-select-sensor {
  display: inline-flex;
  width: 300px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--main-border-color);
  border-radius: 15px;
  font-size: 0.8em;
}

.popup-custom-button {
  width: 310px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1em;
  margin-top: 10px;
  box-shadow: 0 0;
}
